@if (Account != null)
{
    <MudDialog Style="width:550px; min-width:360px">
        <DialogContent>
                @if (Account.Photos != null)
                {
                    <div class="d-flex justify-center mb-3">
                        <MudCarousel @ref="Carousel" TData="PhotosForEventsDto" ShowArrows ShowBullets="false" AutoCycle Style="width:300px; height:400px">
                            @foreach (var photo in Account.Photos.OrderByDescending(o => o.IsAvatar).ThenByDescending(o => o.CreateDate))
                            {
                                <MudCarouselItem Transition="Transition.Fade">
                                    <MudImage Src=@($"/images/AccountsPhotos/{photo.RelatedId}/{photo.Guid}/{EnumImageSize.s450x600}.jpg") Fluid Style="border-radius:2%; width:300px; height:400px" />
                                </MudCarouselItem>
                            }
                        </MudCarousel>
                    </div>
                }

            <div class="d-flex gap-1 flex-column align-center">
                <div class="d-flex align-center gap-2">
                    <AccountGenderIcon Account="@Account" />
                    <MudText Typo="Typo.h6">@Account.Name</MudText>
                </div>
                <MudText Typo="Typo.body2">@Account.ToGendersAgesString()</MudText>
                <div class="d-flex align-center gap-1">
                    <MudIcon Icon="@Icons.Material.Outlined.LocationOn" Style="font-size:20px" />
                    <MudText Typo="Typo.body2">@Account.ToRegionString()</MudText>
                </div>
            </div>

            <MudDivider Class="mt-4" />

            <MudDataGrid Items="Account.Users" T="UsersDto" Elevation="0" Hover HeaderClass="dataGridHideTHead" Filterable="false">
                <Columns>
                    <TemplateColumn>
                        <CellTemplate>
                            <div class="d-flex gap-3 align-center">
                                <UserGenderIcon User="@context.Item" />
                                <MudText Typo="Typo.body2"><b>@context.Item.Name</b></MudText>
                            </div>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <CellTemplate>
                            <MudText Typo="Typo.body2">@context.Item.ToGenderAgeString()</MudText>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <CellTemplate>
                            <MudText Typo="Typo.body2" Style="white-space:nowrap">@context.Item.Height см. / @context.Item.Weight кг.</MudText>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn>
                        <CellTemplate>
                            <MudText Style="font-size: 12px">@context.Item.About</MudText>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
            </MudDataGrid>

        </DialogContent>

        <DialogActions>
            <MudButton Color="Color.Error" OnClick="() => MudDialog.Close(DialogResult.Ok(true))">Закрыть</MudButton>
        </DialogActions>
    </MudDialog>
}
