@if (ScheduleForEventView?.Event != null)
{
    <MudStack>
        @if (@ScheduleForEventView.Event.Admin != null)
        {
            <MudButton OnClick="() => ShowDialogs.AccountCardDialogAsync(ScheduleForEventView.Event.Admin)" FullWidth Class="px-1">
                <MudStack AlignItems="AlignItems.Center" Spacing="0" Row Style="width:100%">
                    <ImageAvatar Account="ScheduleForEventView.Event.Admin" Size="EnumImageSize.s64x64" Class="avatar s45 mr-3" Title="Организатор" />
                    <MudText Typo="Typo.body2" Align="Align.Left"><b>Организатор:</b><br />@ScheduleForEventView.Event.Admin.Name (@ScheduleForEventView.Event.Admin.ToGendersAgesString())</MudText>
                </MudStack>
            </MudButton>
        }

        <MudStack Row AlignItems="AlignItems.Center" Spacing="1">
            <MudIcon Icon="@Icons.Material.Outlined.LocationOn" Style="font-size:19px" />
            <MudText Typo="Typo.body2">@ScheduleForEventView.Event.ToRegionString() (@ScheduleForEventView.Event.Address)</MudText>
        </MudStack>

        <MudStack Row AlignItems="AlignItems.Center" Spacing="1">
            <MudIcon Icon="@Icons.Material.Outlined.CalendarToday" Class="@ScheduleForEventView.ToDateClass()" Style="font-size:18px" />
            <MudText Typo="Typo.body2"><b>@ScheduleForEventView.ToStartEndString()</b></MudText>
        </MudStack>

        @if (ScheduleForEventView.Features != null)
        {
            <MudStack Row Wrap="Wrap.Wrap" Spacing="1" Class="mb-1">
                @foreach (var feature in ScheduleForEventView.Features.OrderBy(o => o.Name))
                {
                    <span style="padding: 0 5px 0 5px; font-size:12px; font-weight:500; opacity:0.6; border-width:1px; border-style:dotted">@feature.Name</span>
                }
            </MudStack>
        }

        @if (!string.IsNullOrWhiteSpace(ScheduleForEventView.Description))
        {
            <MudText Typo="Typo.body2">@ScheduleForEventView.Description.ReplaceNewLineWithBR()</MudText>
            <MudDivider />
        }

        <MudGrid Style="text-align:center">
            <MudItem xs="4" title="Зарегистрировано пар / Свободных мест для пар">
                <MudIcon Icon="@Icons.Material.Filled.PeopleAlt" Color="Color.Tertiary" /><br />
                @ScheduleForEventView.Statistic?.NumOfRegPairs/@ScheduleForEventView.Event.MaxPairs
            </MudItem>
            <MudItem xs="4" title="Зарегистрировано мужчин / Свободных мест для мужчин">
                <MudIcon Icon="@Icons.Material.Outlined.Face5" Color="Color.Primary" /><br />
                @ScheduleForEventView.Statistic?.NumOfRegMen/@ScheduleForEventView.Event.MaxMen
            </MudItem>
            <MudItem xs="4" title="Зарегистрировано женщин / Свободных мест для женщин">
                <MudIcon Icon="@Icons.Material.Outlined.Face3" Color="Color.Error" /><br />
                @ScheduleForEventView.Statistic?.NumOfRegWomen/@ScheduleForEventView.Event.MaxWomen
            </MudItem>
        </MudGrid>
        <MudGrid Style="text-align:center">
            <MudItem xs="4">@(ScheduleForEventView.CostPair == 0 ? "Бесплатно" : ScheduleForEventView.CostPair.ToString() + " руб.")</MudItem>
            <MudItem xs="4">@(ScheduleForEventView.CostMan == 0 ? "Бесплатно" : ScheduleForEventView.CostMan.ToString() + " руб.")</MudItem>
            <MudItem xs="4">@(ScheduleForEventView.CostWoman == 0 ? "Бесплатно" : ScheduleForEventView.CostWoman.ToString() + " руб.")</MudItem>
        </MudGrid>

        <MudDivider />

        <MudText Typo="Typo.body2"><b>Общее описание:</b><br />@ScheduleForEventView.Event.Description.ReplaceNewLineWithBR()</MudText>
    </MudStack>
}
