@page "/events/edit/{EventId:int}"

@inherits EventDtoBase

@if (CurrentState?.Account != null && Event != null)
{
    <PageTitle>Редактирование "@Event.Name"</PageTitle>

    <div class="d-flex flex-column ml-3" style="min-width:300px; max-width:750px">

        <MudText Typo="Typo.h6" Class="mb-3" Style="text-align:center">"@Event.Name"</MudText>

        <MudExpansionPanels MultiExpansion Elevation="3">

            @* ОБЩИЕ *@
            <GeneralComponent Data="@this" />

            @* РАСПИСАНИЕ *@
            <ScheduleComponent Data="@this" />

            @* ФОТО *@
            <PhotosComponent Data="@this" />

        </MudExpansionPanels>

        
        @* КНОПКА СОХРАНЕНИЯ *@
        <MudStack AlignItems="AlignItems.Center" Class="mt-5" Row="false">
            <MudButton OnClick="UpdateAsync" StartIcon="@Icons.Material.Outlined.Save" Disabled="!(IsPanel1Valid && IsPanel2Valid && IsPanel3Valid && !processingEvent)" Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" Style="margin:auto">
                @if (processingEvent)
                {
                    <MudProgressCircular Size="Size.Small" Style="margin:auto" Indeterminate="true" />
                    <MudText Class="ms-2">Сохраняем...</MudText>
                }
                else
                {
                    <MudText></MudText>
                    <MudText>@(isDataSaved ? "Изменения сохранены" : "Сохранить изменения")</MudText>
                }
            </MudButton>
        </MudStack>

    </div>
}

