@page "/"

<PageTitle>Главная страница</PageTitle>

<p class="event-selected-date">Test</p>

<MudDatePicker AdditionalDateClassesFunc="DateClass" />


<MudDataGrid @ref="dataGrid" T="Item" ServerData="ServerReload" Filterable="false">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Партнёры</MudText>
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Placeholder="Поиск"
                      Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
        </MudTextField>
        <MudSpacer />
    </ToolBarContent>
    <Columns>
        <HierarchyColumn T="Item" />
        <PropertyColumn Property="x => x.Id" Title="Id" />

        <PropertyColumn Property="x => x.Name" Title="Имя">
        </PropertyColumn>

        <PropertyColumn Property="x => x.Date">
            <CellTemplate>
                @context.Item.Date.ToString("dd.MM.yy")
            </CellTemplate>
        </PropertyColumn>
    </Columns>

    <ChildRowContent>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@context.Item.Name</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Дата рождения @context.Item.Date</MudText>
            </MudCardContent>
        </MudCard>
    </ChildRowContent>

    <PagerContent>
        <MudDataGridPager T="Item" />
    </PagerContent>
</MudDataGrid>


<MudButton ButtonType="ButtonType.Button" Color="Color.Primary" Variant="Variant.Filled" OnClick="AddItem">Добавить</MudButton>
