@page "/messages"
<PageTitle>Сообщения</PageTitle>

<RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left" class="rz-mb-5">Сообщения</RadzenText>

@if (LastMessagesList != null)
{
    <RadzenDataGrid @ref=messagesGrid Data="@LastMessagesList" LoadData="@LoadData" Count="@TotalCount" IsLoading=@IsLoading PageSize="6"
                    AllowColumnResize="true" AllowPaging="true">
        <Columns>

            <RadzenDataGridColumn Property="@nameof(LastMessagesListViewDto.Sender)" Title="Автор" Frozen="true" Width="170px" TextAlign="TextAlign.Center">
                <Template>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="5">
                        @{ var msgData = context.GetMessageInfoData(CurrentState); }
                        <ImageAvatar Account="msgData.Account" Size="EnumImageSize.s64x64" Title="@msgData.Account.Name" Class="avatar s50" />
                        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" Gap="2">
                            <span><b>@msgData.Account.Name</b></span>
                            <RadzenIcon Icon="@msgData.Icon" IconStyle="@msgData.IconStyle" title="@msgData.IcontTitle" Style="cursor:default"></RadzenIcon>
                            <span title="@context.CreateDate.ToMyString()" style="font-size:12px; cursor:default">@context.CreateDate.ToMyPastShortString()</span>
                        </RadzenStack>
                    </RadzenStack>
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="@nameof(NotificationsViewDto.Text)" Title="Текст" TextAlign="TextAlign.Left" />

        </Columns>
    </RadzenDataGrid>
}
