@page "/register"

<PageTitle>Регистрация</PageTitle>

<MudText Align="Align.Left" Typo="Typo.h6" Class="mb-1 mb-md-3">Регистрация</MudText>
<MudDivider DividerType="DividerType.FullWidth" Light="false" Class="mb-5 mb-md-8" />

<MudStack Style="min-width:300px; max-width:750px" Class="ml-md-5">
    <MudExpansionPanels MultiExpansion="true" Elevation="3">

        @* ОБЩИЕ *@
        @* <MudExpansionPanel Expanded="true"> *@
        <MudExpansionPanel Expanded="false">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Color="Panel1Color" Icon="@Icons.Material.Filled.Settings" class="mr-3" />
                    <MudText Color="Panel1Color"><b>1. Общие данные</b></MudText>
                </div>
            </TitleContent>
            <ChildContent>
                <MudGrid>
                    <MudItem sm="6" xs="12">
                        <MudTextField @bind-Value="registerModel.Name" Validation="@(new Func<string, Task<string?>>(NameValidator))" HelperText="Пример: Иван да Марья Мск" AdornmentIcon="@Icons.Material.Outlined.Person" AdornmentColor="@NameIconColor" Adornment="Adornment.End" Label="Имя учётной записи" Typo="Typo.body1" Margin="Margin.Normal" Variant="Variant.Text" MaxLength="StaticData.DB_ACCOUNTS_NAME_MAX" />
                    </MudItem>
                    <MudItem sm="6" xs="12">
                        <MudTextField @bind-Value="registerModel.Email" Validation="@(new Func<string, Task<string?>>(EmailValidator))" HelperText="Пример: email@mail.ru" AdornmentIcon="@Icons.Material.Outlined.Mail" AdornmentColor="@EmailIconColor" Adornment="Adornment.End" Label="Email" Typo="Typo.body1" Margin="Margin.Normal" Variant="Variant.Text" MaxLength="StaticData.DB_ACCOUNTS_EMAIL_MAX" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem sm="6" xs="12">
                        <MudTextField @bind-Value="registerModel.Password" Validation="@(new Func<string, string?>(PasswordValidator))" AdornmentColor="@PasswordIconColor" HelperText="Длина от 4 до 35 символов" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Outlined.Lock" Label="Пароль" Typo="Typo.body1" Margin="Margin.Normal" Variant="Variant.Text" MaxLength="StaticData.DB_ACCOUNTS_PASSWORD_MAX" />
                    </MudItem>
                    <MudItem sm="6" xs="12">
                        <MudTextField @bind-Value="registerModel.Password2" Validation="@(new Func<string, string?>(Password2Validator))" AdornmentColor="@Password2IconColor" HelperText="Повторите тот же пароль" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Outlined.Lock" Label="Повтор пароля" Typo="Typo.body1" Margin="Margin.Normal" Variant="Variant.Text" MaxLength="StaticData.DB_ACCOUNTS_PASSWORD_MAX" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem sm="6" xs="12">
                        <MudAutocomplete T="string" Label="Страна" @bind-Value="countryText" SearchFunc="@SearchCountry" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="false" />
                    </MudItem>
                    <MudItem sm="6" xs="12">
                        <MudAutocomplete T="string" Label="Регион" @bind-Value="regionText" SearchFunc="@SearchRegion" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="false" Disabled="countryText == null ? true : false" />
                    </MudItem>
                </MudGrid>
            </ChildContent>
        </MudExpansionPanel>

        @* ПАРТНЁРЫ *@
        @* <MudExpansionPanel Disabled="@Panel2Disabled" Expanded="Panel2Expanded"> *@
        <MudExpansionPanel Disabled="false" Expanded="true">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Group" class="mr-3" />
                    <MudText><b>2. Партнёры</b></MudText>
                </div>
            </TitleContent>
            <ChildContent>
                
                <MudDataGrid T="UsersDto" Items="@Users" Striped="true" ReadOnly="true" EditMode="DataGridEditMode.Form"
                             StartedEditingItem="@StartedEditingUser" CanceledEditingItem="@CanceledEditingUser" CommittedItemChanges="@CommittedUserChanges"
                             Bordered="true" Dense="false" EditTrigger="DataGridEditTrigger.Manual"
                             EditDialogOptions="new DialogOptions { NoHeader=true }">
                    <Columns>
                        <PropertyColumn Property="x => x.Name" Title="Имя" Hidden="true" Editable="true" />
                        <PropertyColumn Property="x => x.Height" Title="Рост" Hidden="true" Editable="true" />
                        <PropertyColumn Property="x => x.Weight" Title="Вес" Hidden="true" Editable="true" />
                        <PropertyColumn Property="x => x.BirthDate" Title="Дата рождения" Hidden="true" Editable="true">
                            <EditTemplate>
                                <MudDatePicker Date="context.Item.BirthDate" Label="Дата рождения" DateFormat="dd.MM.yyyy" Editable="true" />
                            </EditTemplate>
                        </PropertyColumn>
                        <TemplateColumn Title="Общее" Context="user">
                            <CellTemplate>
                                <MudStack AlignItems="AlignItems.Center" Row="true">
                                    @if (user.Item.Gender == 0)
                                    {
                                        <MudIcon Icon="@Icons.Material.Outlined.Man" Color="Color.Info" Size="Size.Large" />
                                    }
                                    else
                                    {
                                        <MudIcon Icon="@Icons.Material.Outlined.Woman" Color="Color.Error" Size="Size.Large" />
                                    }
                                    <MudText Typo="Typo.body2"><b>@user.Item.Name</b><br />@user.Item.ToGenderAgeString()</MudText>
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>

                        <TemplateColumn HeaderStyle="width:135px" Context="user" Title="Рост / вес">
                            <CellTemplate>
                                <MudText Typo="Typo.body2">@user.Item.Height см / @user.Item.Weight кг</MudText>
                            </CellTemplate>
                        </TemplateColumn>

                        <TemplateColumn HeaderStyle="width:90px">
                            <CellTemplate>
                                <MudStack Row="true" Spacing="2">
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Color="Color.Info" OnClick="@context.Actions.StartEditingItemAsync" />
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" OnClick="@context.Actions.StartEditingItemAsync" />
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>

                    </Columns>
                </MudDataGrid>

                <MudStack AlignItems="AlignItems.End">
                    <MudButton ButtonType="ButtonType.Button" Color="Color.Info" Size="Size.Small" Variant="Variant.Filled" OnClick="AddItem" Class="mt-5">Добавить</MudButton>
                </MudStack>
            </ChildContent>
        </MudExpansionPanel>

        @* АВАТАР *@
        <MudExpansionPanel Disabled="@Panel3Disabled" Expanded="Panel3Expanded">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Image" class="mr-3" />
                    <MudText><b>3. Аватар</b></MudText>
                </div>
            </TitleContent>
            <ChildContent>
                Аватар
            </ChildContent>
        </MudExpansionPanel>

    </MudExpansionPanels>

    <MudStack AlignItems="AlignItems.Center" Class="mt-5">
        <MudButton StartIcon="@Icons.Material.Outlined.Check" Disabled="true" Variant="Variant.Filled" Size="Size.Large" Color="Color.Info" Style="margin:auto">Зарегистрироваться</MudButton>
    </MudStack>
</MudStack>
