@page "/register"

<PageTitle>Регистрация</PageTitle>

<MudText Align="Align.Left" Typo="Typo.h6" Class="mb-1 mb-md-3">Регистрация</MudText>
<MudDivider DividerType="DividerType.FullWidth" Light="false" Class="mb-5 mb-md-8" />

<MudStack Style="min-width:300px; max-width:750px" Class="ml-md-5">
    <MudExpansionPanels MultiExpansion="true" Elevation="3">

        @* ОБЩИЕ *@
        <MudExpansionPanel Expanded="true">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Color="IsPanel1Valid ? Color.Success : Color.Default" Icon="@Icons.Material.Filled.Settings" class="mr-3" />
                    <MudText Color="IsPanel1Valid ? Color.Success : Color.Default"><b>1. Общие данные</b></MudText>
                </div>
            </TitleContent>
            <ChildContent>
                <MudGrid>
                    <MudItem sm="6" xs="12">
                        <MudTextField @bind-Value="registerModel.Name" Validation="@(new Func<string, Task<string?>>(NameValidator))" HelperText="Пример: Иван да Марья Мск" AdornmentIcon="@Icons.Material.Outlined.Person" AdornmentColor="@NameIconColor" Adornment="Adornment.End" Label="Имя учётной записи" Typo="Typo.body1" Margin="Margin.Normal" Variant="Variant.Text" MaxLength="StaticData.DB_ACCOUNTS_NAME_MAX" />
                    </MudItem>
                    <MudItem sm="6" xs="12">
                        <MudTextField @bind-Value="registerModel.Email" Validation="@(new Func<string, Task<string?>>(EmailValidator))" HelperText="Пример: email@mail.ru" AdornmentIcon="@Icons.Material.Outlined.Mail" AdornmentColor="@EmailIconColor" Adornment="Adornment.End" Label="Email" Typo="Typo.body1" Margin="Margin.Normal" Variant="Variant.Text" MaxLength="StaticData.DB_ACCOUNTS_EMAIL_MAX" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem sm="6" xs="12">
                        <MudTextField @bind-Value="registerModel.Password" Validation="@(new Func<string, string?>(PasswordValidator))" AdornmentColor="@PasswordIconColor" HelperText="Длина от 4 до 35 символов" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Outlined.Lock" Label="Пароль" Typo="Typo.body1" Margin="Margin.Normal" Variant="Variant.Text" MaxLength="StaticData.DB_ACCOUNTS_PASSWORD_MAX" />
                    </MudItem>
                    <MudItem sm="6" xs="12">
                        <MudTextField @bind-Value="registerModel.Password2" Validation="@(new Func<string, string?>(Password2Validator))" AdornmentColor="@Password2IconColor" HelperText="Повторите тот же пароль" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Outlined.Lock" Label="Повтор пароля" Typo="Typo.body1" Margin="Margin.Normal" Variant="Variant.Text" MaxLength="StaticData.DB_ACCOUNTS_PASSWORD_MAX" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem sm="6" xs="12">
                        <MudStack Spacing="0" Class="mx-2 mt-6">
                            <MudAutocomplete AdornmentIcon="@Icons.Material.Outlined.LocationOn" AdornmentColor="@CountryIconColor" Validation="@(new Func<string, string?>(CountryValidator))" T="string" Label="Страна" @bind-Value="countryText" SearchFunc="@SearchCountry" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="false" />
                        </MudStack>
                    </MudItem>
                    <MudItem sm="6" xs="12">
                        <MudStack Spacing="0" Class="mx-2 mt-6">
                            <MudAutocomplete AdornmentIcon="@Icons.Material.Outlined.LocationOn" AdornmentColor="@RegionIconColor" Validation="@(new Func<string, string?>(RegionValidator))" T="string" Label="Регион" @bind-Value="regionText" SearchFunc="@SearchRegion" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="false" Disabled="countryText == null ? true : false" />
                        </MudStack>
                    </MudItem>
                </MudGrid>
            </ChildContent>
        </MudExpansionPanel>


        @* ПАРТНЁРЫ *@
        <MudExpansionPanel Disabled="!IsPanel1Valid" Expanded="IsPanel1Valid">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Color="IsPanel2Valid ? Color.Success : Color.Default" Icon="@Icons.Material.Filled.Group" class="mr-3" />
                    <MudText Color="IsPanel2Valid ? Color.Success : Color.Default"><b>2. Партнёры</b></MudText>
                </div>
            </TitleContent>
            <ChildContent>
                
                <MudDataGrid T="UsersDto" Items="@registerModel.Users" Striped="true" ReadOnly="true" EditMode="DataGridEditMode.Form" Bordered="true">
                    <Columns>
                        <PropertyColumn Property="x => x.Name" Title="Имя" Hidden="true" Editable="true" />
                        <PropertyColumn Property="x => x.Height" Title="Рост" Hidden="true" Editable="true" />
                        <PropertyColumn Property="x => x.Weight" Title="Вес" Hidden="true" Editable="true" />
                        <PropertyColumn Property="x => x.BirthDate" Title="Дата рождения" Hidden="true" Editable="true">
                            <EditTemplate>
                                <MudDatePicker Date="context.Item.BirthDate" Label="Дата рождения" DateFormat="dd.MM.yyyy" Editable="true" />
                            </EditTemplate>
                        </PropertyColumn>
                        <TemplateColumn Title="Общее" Context="user">
                            <CellTemplate>
                                <MudStack AlignItems="AlignItems.Center" Row="true">
                                    @if (user.Item.Gender == 0)
                                    {
                                        <MudIcon Icon="@Icons.Material.Outlined.Man" Color="Color.Info" Size="Size.Large" />
                                    }
                                    else
                                    {
                                        <MudIcon Icon="@Icons.Material.Outlined.Woman" Color="Color.Error" Size="Size.Large" />
                                    }
                                    <MudText Typo="Typo.body2"><b>@user.Item.Name</b><br />@user.Item.ToGenderAgeString()</MudText>
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>

                        <TemplateColumn HeaderStyle="width:135px" Context="user" Title="Рост / вес">
                            <CellTemplate>
                                <MudText Typo="Typo.body2">@user.Item.Height см / @user.Item.Weight кг</MudText>
                            </CellTemplate>
                        </TemplateColumn>

                        <TemplateColumn HeaderStyle="width:90px">
                            <CellTemplate>
                                <MudStack Row="true" Spacing="2">
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Color="Color.Info" OnClick="async () => await UpdateUserAsync(context.Item)" />
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" OnClick="async () => await DeleteUserDialogAsync(context.Item)" />
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>

                    </Columns>
                </MudDataGrid>

                <MudStack AlignItems="AlignItems.End">
                    <MudButton StartIcon="@Icons.Material.Outlined.Add" ButtonType="ButtonType.Button" Color="Color.Info" Size="Size.Small" Variant="Variant.Filled" OnClick="AddUserAsync" Disabled="registerModel.Users.Count < 4 ? false : true" Class="mt-5">Добавить</MudButton>
                </MudStack>
            </ChildContent>
        </MudExpansionPanel>


        @* АВАТАР *@
        <MudExpansionPanel Disabled="!(IsPanel1Valid && IsPanel2Valid)" Expanded="(IsPanel1Valid && IsPanel2Valid)">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Color="IsPanel3Valid ? Color.Success : Color.Default" Icon="@Icons.Material.Filled.Image" class="mr-3" />
                    <MudText Color="IsPanel3Valid ? Color.Success : Color.Default"><b>3. Аватар</b></MudText>
                </div>
            </TitleContent>
            <ChildContent>
                <MudStack AlignItems="AlignItems.Center">
                    @if (urlPreviewImage != null)
                    {
                        <MudImage Src=@($"/images/AccountsPhotos/temp/{urlPreviewImage}") Fluid="true" ObjectFit="ObjectFit.Fill" Elevation="4" Class="rounded-lg" />
                    }
                    <MudFileUpload T="IBrowserFile" Accept=".jpg,.jpeg,.png" FilesChanged="UploadAvatar">
                        <ActivatorContent>
                            <MudButton Disabled="processingPhoto" Size="Size.Small" Variant="Variant.Outlined" Color="Color.Info" StartIcon="@Icons.Material.Sharp.Upload">
                                @if (processingPhoto)
                                {
                                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                    <MudText Class="ms-2">Обработка фото...</MudText>
                                } 
                                else
                                {
                                    <MudText>Выберите фото для аватара</MudText>
                                }
                            </MudButton>
                        </ActivatorContent>
                    </MudFileUpload>
                </MudStack>
            </ChildContent>
        </MudExpansionPanel>

    </MudExpansionPanels>

    <MudStack AlignItems="AlignItems.Center" Class="mt-5" Row="false">
        @if (!string.IsNullOrEmpty(registerModel.ErrorRegisterMessage))
        {
            <MudAlert Severity="Severity.Error">@registerModel.ErrorRegisterMessage</MudAlert>
        }
        <MudCheckBox @bind-Value="registerModel.RememberMe" Disabled="!(IsPanel1Valid && IsPanel2Valid && IsPanel3Valid)" Color="Color.Info">
            <MudText Typo="Typo.body2">Запомнить меня</MudText>
        </MudCheckBox>
        <MudButton OnClick="SubmitAsync" StartIcon="@Icons.Material.Outlined.Check" Disabled="!(IsPanel1Valid && IsPanel2Valid && IsPanel3Valid)" Variant="Variant.Filled" Size="Size.Large" Color="Color.Info" Style="margin:auto">Зарегистрироваться</MudButton>
    </MudStack>
</MudStack>
