@page "/messages"

<PageTitle>Общение</PageTitle>

@if (CurrentState.Account != null) 
{
    <div id="top" class="d-flex flex-column ml-3" style="min-width:300px; max-width:750px">

        <MudText Align="Align.Left" Typo="Typo.h6" Class="mb-3">Общение</MudText>
        <MudDivider DividerType="DividerType.FullWidth" Light="false" Class="mb-5" />

        <MudDataGrid @ref="dataGrid" Elevation="0" Virtualize Hover T="LastMessagesListViewDto" ServerData="ServerReload" Striped Loading="false" Style="min-width:300px; max-width:800px" HeaderClass="dataGridHideTHead" Filterable="false">
            <Columns>
                <TemplateColumn CellClass="pl-0 pl-sm-4">
                    <CellTemplate>
                        <MudGrid>
                            <MudItem xs="3" md="4" Class="d-flex gap-3 align-center" Style="cursor:pointer">
                                @{
                                    AccountsViewDto? accountsViewDto = CurrentState.Account.Id == context.Item.Sender?.Id ? context.Item.Recipient : context.Item.Sender;
                                    if (accountsViewDto != null) 
                                    {
                                        <ImageAvatar Account="@accountsViewDto" Size="EnumImageSize.s64x64" Class="d-none d-md-block avatar" />
                                        <div class="d-flex flex-column gap-0 align-center align-md-start" style="width:100%">
                                            <ImageAvatar Account="@accountsViewDto" Size="EnumImageSize.s64x64" Class="d-xs-block d-md-none avatar" />
                                            <p class="mud-primary-text d-none d-sm-block d-md-none" style="text-align:center"><b>@accountsViewDto.Name</b></p>
                                            <p class="mud-primary-text d-none d-md-block"><b>@accountsViewDto.Name</b></p>
                                            <p class="d-none d-md-block" style="font-weight:300; font-size:11px">@accountsViewDto.ToGendersAgesString()</p>
                                            <p class="d-none d-md-block" style="font-weight:300; font-size:11px">@accountsViewDto.ToRegionString()</p>
                                        </div>
                                    }
                                }
                            </MudItem>
                            <MudItem xs="9" md="8" Class="d-flex align-center">
                                <div class="d-flex align-end" style="width:100%">
                                    <p class="flex-grow-1">@context.Item.Text</p>
                                    <p class="flex-grow-0" style="font-size:11px; color:gray; text-align:end; text-wrap:nowrap">@context.Item.CreateDate.ToMyPastShortString()</p>
                                </div>
                            </MudItem>
                        </MudGrid>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>

            <PagerContent>
                <MudDataGridPager RowsPerPageString="Показывать по:" ShowPageNumber="false" T="LastMessagesListViewDto" />
            </PagerContent>
        </MudDataGrid>

    </div>
}

