@page "/messages"

<PageTitle>Общение</PageTitle>

@if (CurrentState.Account != null) 
{
    <div id="top" class="d-flex flex-column ml-3" style="min-width:300px; max-width:750px">

        <MudText Align="Align.Left" Typo="Typo.h6" Class="mb-3">Общение</MudText>
        <MudDivider DividerType="DividerType.FullWidth" Light="false" Class="mb-5" />

        <MudDataGrid @ref="dataGrid" Dense Elevation="0" Virtualize Hover T="LastMessagesListViewDto" ServerData="ServerReload" Striped Loading="false" Style="min-width:300px; max-width:800px" HeaderClass="dataGridHideTHead" Filterable="false">
            <Columns>
                <TemplateColumn CellClass="px-2 py-1 mud-table-cell-for-messages">
                    <CellTemplate>
                        <div class="d-flex align-center gap-3">
                            @{
                                AccountsViewDto? accountsViewDto = CurrentState.Account.Id == context.Item.Sender?.Id ? context.Item.Recipient : context.Item.Sender;
                                if (accountsViewDto != null)
                                {
                                    <div onclick ="@(() => ShowDialogs.AccountCardDialogAsync(accountsViewDto))" style="cursor:pointer">
                                        <ImageAvatar Account="@accountsViewDto" Class="d-none d-sm-block avatar" Size="EnumImageSize.s64x64" />
                                        <ImageAvatar Account="@accountsViewDto" Class="d-xs-block d-sm-none avatar" Style="width:45px; height:45px" Size="EnumImageSize.s64x64" />
                                    </div>

                                    <div class="d-flex flex-column gap-0" style="width:100%">
                                        <div style="text-align:end">
                                            <MudMenu Dense Icon="@Icons.Material.Filled.MoreVert" Size="Size.Small" AnchorOrigin="Origin.TopLeft" TransformOrigin="Origin.TopRight">
                                                <MudMenuItem Icon="@Icons.Material.Filled.Block" IconColor="Color.Error" OnClick="async() => { await BlockAccountAsync(); }">Заблокировать</MudMenuItem>
                                            </MudMenu>
                                        </div>
                                        
                                        <ShowLongTextComponent Text="@context.Item.Text" MaxTextLength="120" />

                                        <div class="d-flex justify-end align-center" style="font-size:12px; height:29px">
                                            <p style="color:darkgrey">@context.Item.CreateDate.ToMyString()</p>
                                            <p class="ml-2 mr-1"><MudIcon Icon="@(CurrentState.Account.Id == context.Item.Sender?.Id ? @Icons.Material.Filled.ArrowForward : @Icons.Material.Filled.ArrowBack)" Style="font-size:11px; margin-top:3px" /></p>
                                            <p @onclick="@(() => ShowDialogs.AccountCardDialogAsync(accountsViewDto))" class="mud-primary-text" style="cursor:pointer; font-weight:500">@accountsViewDto.Name</p>
                                            <p>
                                                @if (context.Item.ReadDate == null) 
                                                {
                                                    <MudIcon Icon="@Icons.Material.Filled.Done" Color="Color.Default" Style="font-size:15px; margin: 3px 0 0 5px" />
                                                }
                                                else 
                                                {
                                                    <MudIcon Icon="@Icons.Material.Filled.DoneAll" Color="Color.Primary" Style="font-size:15px; margin: 3px 0 0 5px" />
                                                }
                                            </p>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>

            <PagerContent>
                <MudDataGridPager RowsPerPageString="Показывать по:" ShowPageNumber="false" T="LastMessagesListViewDto" />
            </PagerContent>
        </MudDataGrid>

    </div>
}

