<img src="@uri" data-avatar="@Account.Id" width="@width" height="@height" title="@Title" class="@Class @online" style="@Style" />
<div class="w-3.5 h-3.5 hidden absolute bottom-0 right-0 bg-green-500 rounded-full border border-white dark:border-slate-800"></div>

@code {
    [Parameter, EditorRequired] public EnumImageSize Size { get; set; }
    [Parameter, EditorRequired] public AccountsViewDto Account { get; set; } = null!;
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Style { get; set; }
    [Inject] CurrentState CurrentState { get; set; } = null!;

    private string uri = null!;
    private string online = null!;
    private int width;
    private int height;

    protected override void OnParametersSet()
    {
        if (Account != null) 
        {
            var avatar = Account.Avatar;

            width = StaticData.Images[Size].Width;
            height = StaticData.Images[Size].Height;

            if (avatar != null)
                uri = $"/images/AccountsPhotos/{Account.Id}/{avatar.Guid}/{Size}.jpg";
            else
                uri = $"/images/AccountsPhotos/no-avatar/{Size}.jpg";

            online = CurrentState.ConnectedAccounts.Contains(Account.Id.ToString()) ? "img-online" : "";
        }
        else
        {
            uri = $"/images/AccountsPhotos/no-avatar/{Size}.jpg";
            online = "";
        }
    }
}
