<MudDialog>
    <TitleContent>Добавление расписания</TitleContent>

    <DialogContent>
        <MudStack AlignItems="AlignItems.Center" Class="mb-2">
            <MudText Typo="Typo.h6">Выберите тип мероприятия</MudText>
            <MudRadioGroup @bind-Value="isOneTimeEvent">
                <MudRadio Value="true" Color="Color.Primary" Dense><span style="font-weight:500">Разовое</span></MudRadio>
                <MudRadio Value="false" Color="Color.Secondary" Dense><span style="font-weight:500">Повторяющееся</span></MudRadio>
            </MudRadioGroup>
        </MudStack>

        @* РАЗОВОЕ *@
        @if (isOneTimeEvent)
        {
            <MudGrid Spacing="3">
                <MudItem sm="6" xs="12">
                    <MudDatePicker Label="Дата начала"
                                   Date="startDate"
                                   DateChanged="(_startDate) => startDate = _startDate"
                                   Mask="@(new DateMask("dd.MM.yyyy"))" DateFormat="dd.MM.yyyy"
                                   AdornmentIcon="@Icons.Material.Filled.CalendarMonth" AdornmentColor="Color.Default" Adornment="Adornment.End"
                                   OpenTo="OpenTo.Date"
                                   MinDate="DateTime.Now"
                                   MaxDate="DateTime.Now.AddDays(maxStartDateDays)"
                                   HelperText="@($"Не позднее {DateTime.Now.AddDays(maxStartDateDays).ToString("dd.MM.yyyy")}")" ShowToolbar="false" />
                </MudItem>
                <MudItem sm="6" xs="12">
                    <MudTimePicker Label="Время начала" 
                                   Editable="false" @bind-Time="startTime" MinuteSelectionStep="5"
                                   AdornmentIcon="@Icons.Material.Filled.AccessTime" AdornmentColor="Color.Default" Adornment="Adornment.End"
                                   HelperText="Пример: 19:00" />
                </MudItem>

                <MudItem sm="6" xs="12">
                    <MudDatePicker Label="Дата окончания"
                                   Date="endDate"
                                   DateChanged="(_endDate) => endDate = _endDate"
                                   Mask="@(new DateMask("dd.MM.yyyy"))" DateFormat="dd.MM.yyyy"
                                   AdornmentIcon="@Icons.Material.Filled.CalendarMonth" AdornmentColor="Color.Default" Adornment="Adornment.End"
                                   OpenTo="OpenTo.Date"
                                   StartMonth="startDate"
                                   MinDate="schedule.StartDate == DateTime.MinValue ? DateTime.Now : schedule.StartDate"
                                   MaxDate="schedule.StartDate == DateTime.MinValue ? DateTime.Now : schedule.StartDate.AddDays(maxEndDateDays)"
                                   HelperText="@(startDate.HasValue ? $"Не позднее {startDate!.Value.AddDays(maxEndDateDays).ToString("dd.MM.yyyy")}" : "Выберите начальную дату")" ShowToolbar="false" />
                </MudItem>
                <MudItem sm="6" xs="12">
                    <MudTimePicker Label="Время окончания" 
                                   Editable="false" @bind-Time="endTime" MinuteSelectionStep="5"
                                   AdornmentIcon="@Icons.Material.Filled.AccessTime" AdornmentColor="Color.Default" Adornment="Adornment.End"
                                   HelperText="Пример: 23:30" />
                </MudItem>

            </MudGrid>
        }

        @* ПОВТОРЯЮЩЕЕСЯ *@
        else
        {
            <MudGrid Spacing="3">
                <MudItem sm="6" xs="12">
                    <MudDatePicker Label="Начиная с даты"
                                   Date="startDate"
                                   DateChanged="(_startDate) => startDate = _startDate"
                                   Mask="@(new DateMask("dd.MM.yyyy"))" DateFormat="dd.MM.yyyy"
                                   AdornmentIcon="@Icons.Material.Filled.CalendarMonth" AdornmentColor="Color.Default" Adornment="Adornment.End"
                                   OpenTo="OpenTo.Date"
                                   MinDate="DateTime.Now"
                                   MaxDate="DateTime.Now.AddDays(maxStartDateDays)"
                                   HelperText="@($"Не позднее {DateTime.Now.AddDays(maxStartDateDays).ToString("dd.MM.yyyy")}")" ShowToolbar="false" />
                </MudItem>
                <MudItem sm="6" xs="12">
                    <MudDatePicker Label="Заканчивая датой"
                                   Date="endDate"
                                   DateChanged="(_endDate) => endDate = _endDate"
                                   Mask="@(new DateMask("dd.MM.yyyy"))" DateFormat="dd.MM.yyyy"
                                   AdornmentIcon="@Icons.Material.Filled.CalendarMonth" AdornmentColor="Color.Default" Adornment="Adornment.End"
                                   OpenTo="OpenTo.Date"
                                   StartMonth="startDate"
                                   MinDate="schedule.StartDate == DateTime.MinValue ? DateTime.Now : schedule.StartDate"
                                   MaxDate="schedule.StartDate == DateTime.MinValue ? DateTime.Now : schedule.StartDate.AddDays(maxEndDateDays)"
                                   HelperText="@(startDate.HasValue ? $"Не позднее {startDate!.Value.AddDays(maxEndDateDays).ToString("dd.MM.yyyy")}" : "Выберите начальную дату")" ShowToolbar="false" />
                </MudItem>

                <MudItem sm="6" xs="12">
                    <MudTimePicker Label="Время начала" Editable="false" @bind-Time="startTime" MinuteSelectionStep="5"
                                   AdornmentIcon="@Icons.Material.Filled.AccessTime" AdornmentColor="Color.Default" Adornment="Adornment.End"
                                   HelperText="Пример: 19:00" />
                </MudItem>
                <MudItem sm="6" xs="12">
                    <MudTimePicker Label="Время окончания" Editable="false" @bind-Time="endTime" MinuteSelectionStep="5"
                                   AdornmentIcon="@Icons.Material.Filled.AccessTime" AdornmentColor="Color.Default" Adornment="Adornment.End"
                                   HelperText="Пример: 23:30" />
                </MudItem>

                <MudItem xs="12">
                    <MudText Align="Align.Center" Typo="Typo.subtitle1" Style="font-weight:500">Повторять в указанные дни недели:</MudText>
                    <MudStack Row Wrap="Wrap.Wrap" Spacing="6" Justify="Justify.Center">
                        <MudCheckBox Label="Пн" T="bool" ValueChanged="(isChecked) => OnWeekChanged(0, isChecked)" Dense Color="Color.Primary"></MudCheckBox>
                        <MudCheckBox Label="Вт" T="bool" ValueChanged="(isChecked) => OnWeekChanged(1, isChecked)" Dense Color="Color.Primary"></MudCheckBox>
                        <MudCheckBox Label="Ср" T="bool" ValueChanged="(isChecked) => OnWeekChanged(2, isChecked)" Dense Color="Color.Primary"></MudCheckBox>
                        <MudCheckBox Label="Чт" T="bool" ValueChanged="(isChecked) => OnWeekChanged(3, isChecked)" Dense Color="Color.Primary"></MudCheckBox>
                        <MudCheckBox Label="Пт" T="bool" ValueChanged="(isChecked) => OnWeekChanged(4, isChecked)" Dense Color="Color.Primary"></MudCheckBox>
                        <MudCheckBox Label="Сб" T="bool" ValueChanged="(isChecked) => OnWeekChanged(5, isChecked)" Dense Color="Color.Secondary"></MudCheckBox>
                        <MudCheckBox Label="Вс" T="bool" ValueChanged="(isChecked) => OnWeekChanged(6, isChecked)" Dense Color="Color.Secondary"></MudCheckBox>
                    </MudStack>
                </MudItem>
            </MudGrid>
        }

        <ScheduleToText IsOneTimeEvent="isOneTimeEvent" StartDate="startDate" EndDate="endDate" StartTime="startTime" EndTime="endTime" DaysOfWeek="daysOfWeek" />

        <MudText Align="Align.Center" Typo="Typo.body2" Color="Color.Error">@errorMessage</MudText>

    </DialogContent>

    <DialogActions>
        <MudButton Color="Color.Error" StartIcon="@Icons.Material.Outlined.Close" OnClick="Cancel">Отмена</MudButton>
        <MudButton Color="Color.Primary" Disabled="!isFormValid" Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.Add" Size="Size.Small" OnClick="Submit">Добавить</MudButton>
    </DialogActions>
</MudDialog>
