@inherits InfoBase

@page "/events/{EventId:int}"

@if (Event != null && ScheduleForEventView != null)
{
    <PageTitle>@Event.Name</PageTitle>

    <div class="d-flex flex-column ml-3" style="min-width:300px; max-width:750px">

        <MudText Align="Align.Center" Typo="Typo.h6">@Event.Name</MudText>
        <MudDivider DividerType="DividerType.FullWidth" Light="false" Class="mb-5" />

        <div class="d-flex flex-column mb-1 align-center">
            @* Фото в карусели *@
            <CarouselPhotosComponent Photos="Event.Photos" />
            @* Расписания и кнопка регистрации *@
            <SchedulesAndButtonComponent ScheduleForEventView="ScheduleForEventView" ScheduleDates="scheduleDates" ScheduleChangedAsync="ScheduleChangedAsync" SelectedSchedule="selectedSchedule" />
        </div>

        @* Закладки *@
        <MudTabs Centered PanelClass="mt-6 px-2" Style="width:100%">
            <MudTabPanel Text="Общее">
                <Tab_About ScheduleForEventView="@ScheduleForEventView" />
            </MudTabPanel>
            <MudTabPanel Text="Обсуждение" BadgeData="@ScheduleForEventView!.Event!.Statistic?.NumOfDiscussions" BadgeColor="Color.Transparent">
                <Tab_Discussions ScheduleForEventView="@ScheduleForEventView" />
            </MudTabPanel>
            <MudTabPanel Text="Участники" Disabled="@(ScheduleForEventView.Statistic?.NumOfRegAccounts == 0)" BadgeData="@ScheduleForEventView.Statistic?.NumOfRegAccounts" BadgeColor="Color.Transparent">
                <Tab_Accounts ScheduleForEventView="@ScheduleForEventView" />
            </MudTabPanel>
        </MudTabs>
    </div>
}
