@if (ScheduleForEventView?.Event != null)
{
    <MudDialog Style="width:550px; min-width:300px">
        <DialogContent>
            <div id="top" class="d-flex flex-column mb-3 align-center" style="overflow-y:visible">

                <CarouselPhotosComponent Photos="ScheduleForEventView.Event.Photos" />

                <div class="d-flex gap-2 flex-wrap align-center justify-center mb-3">
                    @if (scheduleDates != null)
                    {
                        <MudSelect T="SchedulesDatesViewDto" Value="selectedSchedule" ValueChanged="ScheduleChangedAsync" Variant="Variant.Outlined" Dense AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense" Label="Расписание" AdornmentIcon="@Icons.Material.Outlined.CalendarMonth">
                            @foreach (var schedule in scheduleDates)
                            {
                                <MudSelectItem Value="@schedule" />
                            }
                        </MudSelect>
                    }
                    @if (CurrentState.Account != null)
                    {
                        bool isRegistered = false;
                        if (CurrentState.Account.Schedules != null)
                            isRegistered = CurrentState.Account.Schedules.Any(a => a.ScheduleId == ScheduleForEventView.Id);

                        <MudButton OnClick="() => ShowDialogs.RegistrationForEventDialogAsync(ScheduleForEventView, isRegistered)"
                                   Style="height:39px; margin:2px 3px 0 0; padding: 0 20px" Color="Color.Primary" IconSize="Size.Large" Size="Size.Small" StartIcon="@Icons.Material.Outlined.GroupAdd"
                                   Variant="isRegistered ? Variant.Filled : Variant.Outlined"
                                   title="@(isRegistered ? "Отменить регистрацию" : "Зарегистрироваться на мероприятие")">
                            @(isRegistered ? "Вы зарегистрированы" : "Зарегистрироваться")
                        </MudButton>
                    }
                </div>

                @* Закладки *@
                <MudTabs Centered PanelClass="mt-6 px-2" Style="width:100%">
                    <MudTabPanel Text="Общее">
                        <Tab_About ScheduleForEventView="@ScheduleForEventView" />
                    </MudTabPanel>
                    <MudTabPanel Text="Обсуждение" BadgeData="@ScheduleForEventView.Event.Statistic?.NumOfDiscussions" BadgeColor="Color.Transparent">
                        <Tab_Discussions ScheduleForEventView="@ScheduleForEventView" />
                    </MudTabPanel>
                    <MudTabPanel Text="Участники" Disabled="@(ScheduleForEventView.Statistic?.NumOfRegAccounts == 0)" BadgeData="@ScheduleForEventView.Statistic?.NumOfRegAccounts" BadgeColor="Color.Transparent">
                        <Tab_Accounts ScheduleForEventView="@ScheduleForEventView" />
                    </MudTabPanel>
                </MudTabs>
            </div>
        </DialogContent>

        <DialogActions>
            @if (CurrentState.Account?.Id == ScheduleForEventView.Event.Admin?.Id)
            {
                <MudButton Href="@($"/events/edit/{ScheduleForEventView.EventId}")" Color="Color.Primary">Редактировать</MudButton>
            }
            <MudButton Color="Color.Error" OnClick="() => MudDialog.Close(DialogResult.Ok(true))">Закрыть</MudButton>
        </DialogActions>
    </MudDialog>
}
